
section.registration {
  background-image: url("../img/form-bg.png");
  margin-top: -2%;
}


#form {
margin-left: 15%;
padding-bottom: 3%;
margin-left: 15%;
}

label.form1 {
font-size: 3rem;
color: rgba(165, 60, 171, 0.89);
font-family: monospace;
}

span.form {
font-size: 1.5rem;
color: black;
font-family: monospace;
margin-left: -1%;
}

h2.form {
font-size: 5rem;
color: rgba(165, 60, 171, 0.89);
font-family:monospace;
text-align: center;
padding-top:3%;
}

#f1 {
  width: 60vh;
  height: 6vh;
  background-color: rgba(232, 143, 207, 0.26);
  color: rgba(165, 60, 171, 0.89);
  font-size: 2rem;
  margin-left: 2.5%;
  margin-bottom: 2%;
}

#age {
  width: 10vh;
  height: 6vh;
  background-color: rgba(232, 143, 207, 0.26);
  color: rgba(165, 60, 171, 0.89);
  font-size: 2rem;
  margin-left: 2.5%;
  margin-bottom: 2%;
}
#tel {
  width: 35vh;
  height: 6vh;
  background-color: rgba(232, 143, 207, 0.26);
  color: rgba(165, 60, 171, 0.89);
  font-size: 2rem;
  margin-left: 2.5%;
  margin-bottom: 2%;
}
.choose_city {
  width: 35vh;
  height: 6vh;
  background-color: rgba(232, 143, 207, 0.26);
  color: rgba(165, 60, 171, 0.89);
  font-size: 2rem;
  margin-left: 2.5%;
  margin-bottom: 2%;
}

ul.check {
list-style: none;
font-size: 2rem;
color: black;
font-family: monospace;
}

#email {
width: 35vh;
height: 6vh;
background-color: rgba(232, 143, 207, 0.26);
color: rgba(165, 60, 171, 0.89);
font-size: 2rem;
margin-left: 2.5%;
margin-bottom: 2%;
}

#paswd {
  width: 35vh;
  height: 6vh;
  background-color: rgba(232, 143, 207, 0.26);
  font-size: 2rem;
  margin-left: 2.5%;
  margin-bottom: 2%;
}

#enter_btn {
font-size: 1rem;
text-transform: uppercase;
border-radius: 100px;
padding-left: 30px;
padding-right: 30px;
padding-top: 16px;
padding-bottom: 16px;
background: rgba(217, 92, 210, 0.81);
color: white;
font-weight: bolder;
border-color: #01010142;
box-shadow: 1px 0px 18px 2px;
cursor: pointer;
}
