
section.schedule {
background-color: rgba(220, 195, 217, 0.41);
}

h2.schedule {
margin-left: 20%;
margin-top: 3%;
font-weight: bold;
font-size: 3rem;
}

div.instruction_list {
margin-left: 20%;
margin-top: 3%;
}

div.specialization {
  margin-left: 20%;
  margin-top: 2%;
}

div.level_btns {
  margin-left: 20%;
  margin-top: 1%;
  margin-bottom: 2%
}

div.table{
   height:0;
}
div.tr{
   height:0;
}

div.table[class] {height:auto; display: table;}
div.tr[class] { height:auto; display: table-row;}
div.td[class] {float:none; display: table-cell;}

div.td{
   height:100%;
}

#main {
width: 65%;
margin-left: 20%;
}

#first{
   position:relative;
   z-index:1;
   width:200px;
   border: 1px;
   background-color: red;
}
#second{
   width:20rem;
   background-color: blue;
}

#third{
   width:30%;
   background-color: yellow;
}

#fourth{
   width:30%;
   background-color: green;
}


.row {
width: 65%;
margin-left: 20%;
margin-top: 0.3%;
}

.col1{
   position:relative;
   z-index:1;
   width:200px;
   border: 1px;
   background-color: red;
}
.col2{
   width:20rem;
   background-color: blue;
}

.col3{
   width:30%;
   background-color: yellow;
}

.col4{
   width:30%;
   background-color: green;
}
