
section.schedule {
background-color: rgba(220, 195, 217, 0.41);
}

h2.schedule {
margin-left: 20%;
font-weight: bold;
font-size: 3rem;
}

div.instruction_list {
margin-left: 20%;
margin-top: 3%;
}

div.specialization {
  margin-left: 20%;
  margin-top: 2%;
}

div.level_btns {
  margin-left: 20%;
  margin-top: 1%;
  margin-bottom: 2%
}

div.table{
   height:0;
}
div.tr{
   height:0;
}

div.table[class] {height:auto; display: table;}
div.tr[class] { height:auto; display: table-row;}
div.td[class] {float:none; display: table-cell;}

div.td{
   height:100%;
}

#main {
width: 65%;
margin-left: 20%;
}

#first{
   position:relative;
   z-index:1;
   width:200px;
   border: 1px;
   background-color: red;
}
#second{
   width:20rem;
   background-color: blue;
}

#third{
   width:30%;
   background-color: yellow;
}

#fourth{
   width:30%;
   background-color: green;
}


.row {
width: 65%;
margin-left: 20%;
margin-top: 0.3%;
}

.col1{
   position:relative;
   z-index:1;
   width:200px;
   border: 1px;
   background-color: red;
}
.col2{
   width:20rem;
   background-color: blue;
}

.col3{
   width:30%;
   background-color: yellow;
}

.col4{
   width:30%;
   background-color: green;
}


div.calend_box {
position: absolute;
left: 75%;
}

body {
    background-color:#FAFDFF;
    margin:0px; padding:0px;
}
b {
    color:#00008B
}
.day{
max-width: 980px;
margin: 0 auto;
padding: 25px 10px 0;
}


table.calendar {
    width:200px;
    margin: 0 auto;
    border: 1px solid #ababab;
    background: #f4f4f4;
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 12px;
    padding: 3px;
}
td.in_month {
    text-align: center;
    font-weight: normal;
    font-size: 12px;
    border: 1px solid #bababa;
    border-radius: 2px;
    -webkit-border-radius: 2px;/*Safari, Chrome*/
    -moz-border-radius: 2px;/*Firefox*/
    background: #ddd;
    background: -moz-linear-gradient(90deg, #BFBFBF 0, #F6F0EA 100%);/* FF3.6+ */
    background: -webkit-gradient(linear, 90deg, color-stop(0, BFBFBF), color-stop(100%, F6F0EA));/* Chrome,Safari4+ */
    background: -webkit-linear-gradient(90deg, #BFBFBF 0, #F6F0EA 100%);/* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(90deg, #BFBFBF 0, #F6F0EA 100%);/* Opera 11.10+ */
    background: -ms-linear-gradient(90deg, #BFBFBF 0, #F6F0EA 100%);/* IE10+ */
}
table.calendar caption {
    border: 1px solid #ababab;
    border-bottom: none;
    font-size: 14px;
    font-weight: bold;
    height: 28px;
    line-height: 2.2;
    text-shadow: 0 1px 1px #fff;
    background: -moz-linear-gradient(90deg, #BFBFBF 0, #F6F0EA 100%);/* FF3.6+ */
    background: -webkit-gradient(linear, 90deg, color-stop(0, BFBFBF), color-stop(100%, F6F0EA));/* Chrome,Safari4+ */
    background: -webkit-linear-gradient(90deg, #BFBFBF 0, #F6F0EA 100%);/* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(90deg, #BFBFBF 0, #F6F0EA 100%);/* Opera 11.10+ */
    background: -ms-linear-gradient(90deg, #BFBFBF 0, #F6F0EA 100%);/* IE10+ */
}
table.calendar th{
    color: green;
}
table.calendar td.selected {
    background: #00c400;
background: -moz-linear-gradient(270deg, #16B831 0, #42FF94 100%);/* FF3.6+ */
background: -webkit-gradient(linear, 270deg, color-stop(0, 16B831), color-stop(100%, 42FF94));/* Chrome,Safari4+ */
background: -webkit-linear-gradient(270deg, #16B831 0, #42FF94 100%);/* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(270deg, #16B831 0, #42FF94 100%);/* Opera 11.10+ */
background: -ms-linear-gradient(270deg, #16B831 0, #42FF94 100%);/* IE10+ */
    font-weight: normal;
    font-size: 10px;
}
table.calendar a {
    display: block;
    font-weight: bold;
    text-decoration: none;
    color: #4e4ead;
    text-align: center;
    font-size: 10px;
}
table.calendar caption a {
    display: inline;
    font-weight: bold;
    font-size: 10px;
    color: #898989;
    text-shadow: 0 1px 1px #fff;
